In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 50)

In [11]:
dist = pd.read_csv("sorted_user_to_user_distance.csv")
dist["Distance_in_miles"] = dist["Distance_in_miles"].apply(eval)
dist = dist.set_index("Wholesaler")
dist

                                            Distance_in_miles
Wholesaler
29606863    [(0.0, 29606863), (5.532776754238337, 29379646...
29378784    [(0.0, 29378784), (3.7318753510029694, 2959551...
29379853    [(0.0, 29379853), (18.237506633013428, 2937982...
29379855    [(0.0, 29379855), (32.02405053051001, 29379858...
29379861    [(0.0, 29379861), (19.30666227837075, 29379820...
...                                                       ...
29643421    [(0.0, 29643421), (14.923809034154816, 2978013...
29986364    [(0.0, 29986364), (11.705556934074652, 2972295...
40001857    [(0.0, 40001857), (3.4544584010584827, 2937982...
29983887    [(0.0, 29983887), (14.663497221419183, 2937969...
29801344                                                   []

[179 rows x 1 columns]

In [12]:
import re
dfg = pd.read_csv("WholesalerDatewise.csv")
dfg["HLs"] = dfg["HLs"].apply(eval)
dfg["Materials"] = dfg["Materials"].apply(eval)


dfg

,Wholesaler,Date,HLs,Materials
0,29606863,2019-08-12,"[1.584, 16.8, 4.752, 28.8, 8.4, 8.4, 4.0, 4.2,...","[3338, 10946, 10957, 11574, 19898, 20614, 3796..."
1,29606863,2019-08-14,"[14.4, 6.4, 8.0, 16.8, 6.4, 13.5, 4.2, 32.4, 9...","[3372, 6013, 9974, 10946, 10965, 16550, 20614,..."
2,29606863,2019-08-19,"[33.264, 4.752, 37.8, 25.2, 4.752]","[3337, 10957, 29777, 57005, 59873]"
3,29606863,2019-08-21,"[2.376, 28.8, 57.6, 4.2, 21.6, 13.5, 4.2, 12.6...","[3338, 3372, 3410, 10947, 11574, 16550, 19898,..."
4,29606863,2019-08-27,"[43.2, 8.0, 1.2, 16.8, 9.6, 9.0, 1.2, 12.6, 4....","[3372, 9974, 10611, 10946, 10965, 16519, 48537..."
...,...,...,...,...
5816,29801344,2020-07-09,"[5.8788, 20.448, 5.7024]","[63445, 77313, 77589]"
5817,29801344,2020-07-28,"[6.24, 12.48, 6.24, 11.4048]","[62474, 63285, 72414, 76623]"
5818,29801344,2020-07-30,[11.4048],[77589]
5819,29801344,2020-08-12,"[5.8788, 13.8024, 11.4048]","[63445, 77313, 77589]"
5820,29801344,2020-08-24,[5.8788],[63445]

In [13]:
dfg[dfg["Wholesaler"]==29379855]

,Wholesaler,Date,HLs,Materials
179,29379855,2019-08-05,"[4.752, 64.80000000000001, 25.2, 4.2, 4.752, 3...","[3337, 3372, 10946, 10947, 10957, 18690, 19898..."
180,29379855,2019-08-12,"[14.4, 7.2, 8.0, 4.2, 4.2, 1.6, 14.4, 21.0, 4....","[3372, 3410, 9974, 10946, 10947, 10965, 11574,..."
181,29379855,2019-08-14,"[36.0, 4.2, 12.8, 4.0, 8.4, 4.2, 14.4, 8.4, 5....","[3372, 3530, 6013, 9974, 10946, 10947, 11574, ..."
182,29379855,2019-08-19,"[50.4, 7.2, 19.2, 4.0, 8.4, 8.4, 4.752, 6.4, 8...","[3372, 3410, 6013, 9974, 10946, 10947, 10957, ..."
183,29379855,2019-08-20,"[36.0, 7.2, 6.4, 4.2, 43.2, 4.2, 4.0, 7.2]","[3372, 3410, 6013, 10947, 11574, 19898, 54632,..."
...,...,...,...,...
256,29379855,2020-12-29,"[33.6, 8.4, 4.2, 4.2]","[10946, 11766, 19898, 61629]"
257,29379855,2021-01-11,"[4.2, 8.4, 4.2, 3.36, 4.2, 4.2, 0.9798, 4.2, 1...","[3530, 11766, 17028, 18690, 19898, 61629, 6346..."
258,29379855,2021-01-25,"[12.6, 8.4, 4.2, 4.2, 4.0, 4.0, 4.2, 0.9798, 3...","[10946, 11766, 19898, 48537, 54632, 60036, 616..."
259,29379855,2021-02-08,"[4.2, 1.2, 12.6, 4.2, 8.4, 1.2, 4.2, 4.2, 3.36...","[3530, 10611, 10946, 10947, 11766, 33335, 4853..."
260,29379855,2021-02-22,"[4.2, 8.4, 0.792, 8.4, 4.2, 3.36, 4.2, 4.2, 4....","[3530, 10946, 10958, 11766, 17028, 18690, 1989..."

In [14]:
u = dist["Distance_in_miles"][29379855]
u

[(0.0, 29379855),
 (32.02405053051001, 29379858),
 (32.02405053051001, 29379859),
 (42.85037813016308, 29379676),
 (43.00516230514371, 29378992),
 (46.34927797891495, 29378896),
 (48.08345632482165, 29537235),
 (49.02737242909058, 29379537),
 (49.39546131573128, 29379678),
 (56.75055184943345, 29596966),
 (57.04385287786534, 29378933),
 (67.65307579018301, 29379860),
 (69.75792116395088, 29839429),
 (77.32632102735334, 29379677),
 (96.1775401076324, 29379283),
 (99.31036264463492, 29379538),
 (100.13517353310702, 29983887),
 (104.19770476382106, 29379698),
 (108.28076276857927, 29379694),
 (115.21450454961531, 29379618),
 (124.33250300499343, 29379690),
 (126.23650255943865, 29379619),
 (127.83403631737319, 29379833),
 (127.84890161020763, 29379604),
 (128.15690559105045, 29379836),
 (128.89729895343254, 29379835),
 (134.0650924911247, 29379834),
 (138.2971818832006, 29563495),
 (145.3083260270004, 29379628),
 (145.9309378202049, 29379905),
 (147.27122444134838, 29379566),
 (147.7296753070864, 29607967),
 (148.1660176558447, 29379626),
 (148.6216371509377, 29379828),
 (149.3067952068593, 29724733),
 (151.4135172671856, 29379620),
 (178.2865241483119, 29683450),
 (180.0235895224539, 29379901),
 (184.14772789808006, 29833190),
 (187.20319570575094, 29840997),
 (187.39086618608061, 29563830),
 (188.52903087234347, 29379627),
 (188.92979101111914, 29379681),
 (200.85060655927623, 29379896),
 (201.23090947482123, 29379827),
 (204.71187813172844, 29379695),
 (219.2360303884591, 29379830),
 (221.69626476514142, 29564005),
 (226.80661338170148, 29379684),
 (228.44299410656862, 29379663),
 (231.64208276473468, 29379672),
 (233.77849251400568, 29379623),
 (236.67255589403533, 29563832),
 (241.13084053138473, 29379608),
 (249.048540522449, 29379664),
 (252.1640697011452, 29756769),
 (263.1407574878778, 29379853),
 (280.2907140849918, 29379686),
 (281.0263113654719, 29379609),
 (281.09267604467976, 29379829),
 (281.22584472539205, 29379116),
 (281.3667797792322, 29379863),
 (293.52009056308384, 29379696),
 (294.5804454899267, 29379865),
 (295.12206867234505, 29379661),
 (303.498413653846, 29379067),
 (307.265532694963, 29379015),
 (319.82929551898377, 29996995),
 (324.26232823329127, 29563827),
 (324.3071028539216, 29379682),
 (324.9716600315618, 29379363),
 (328.57167186596115, 29379687),
 (330.172017587738, 29379625),
 (331.1130197157104, 29379673),
 (337.9124642414173, 29379058),
 (339.32684589066366, 29563817),
 (341.9198432953294, 29379657),
 (345.86525436593496, 29379862),
 (346.08502273894885, 29379658),
 (346.4899868346765, 29832988),
 (353.93060741959255, 29425623),
 (354.49609684333, 29780131),
 (354.9577348431862, 40007881),
 (355.53893243740964, 29643421),
 (357.1274100919873, 29379089),
 (357.2895790433311, 29801553),
 (358.6724940325186, 29379692),
 (367.6735356933771, 29379360),
 (372.0898100643149, 29379593),
 (376.01400232224955, 29379002),
 (381.24640219597967, 29378967),
 (383.04145266047453, 29379820),
 (383.2245584845978, 29379612),
 (386.130586877869, 29379866),
 (386.130586877869, 29793472),
 (387.0911329094069, 29563820),
 (389.2503882536484, 29379849),
 (390.1385303027108, 29379850),
 (391.25002084263565, 29379826),
 (391.67633170492354, 40001857),
 (392.505698489589, 29750335),
 (392.6880925406325, 29431121),
 (392.70428097696487, 29379702),
 (393.32437418982, 29974413),
 (394.05655323689336, 29986364),
 (394.5410100407769, 29379613),
 (394.5739075072761, 29379842),
 (398.7225399162818, 29379846),
 (400.07147341719923, 29379861),
 (402.92419410355734, 29722953),
 (403.9730400271281, 29379857),
 (403.9730400271281, 29563563),
 (404.06430801647576, 29379843),
 (404.06430801647576, 29379845),
 (404.8712890031996, 29379844),
 (405.3552663793831, 29430384),
 (407.22432237351285, 29379831),
 (411.62791245342794, 29630747),
 (414.5582458458361, 29379819),
 (414.7846420855968, 29563809),
 (417.427034941936, 29379377),
 (418.4234629272228, 29379101),
 (422.27686556521917, 29379610),
 (423.25589685121474, 29379818),
 (423.40642499272815, 29379671),
 (431.16416611033804, 29635311),
 (433.9599371002218, 29996996),
 (434.96826462005487, 29446255),
 (434.96826462005487, 29804035),
 (441.08618943098156, 29799562),
 (447.9988332280561, 29379651),
 (448.1310578227014, 29379615),
 (455.2021162411848, 40016990),
 (455.9078112401013, 29379815),
 (459.403195169302, 29379840),
 (459.7559135488911, 29379824),
 (465.81549044991255, 29379650),
 (468.3207982898, 29379701),
 (475.4723399351771, 29988565),
 (475.63366139814144, 29379621),
 (477.1910060459624, 29379915),
 (481.4199857554429, 29563836),
 (481.8500803575386, 29379641),
 (483.2387091918475, 40002273),
 (484.56068676674425, 29379001),
 (485.2223788427172, 29379642),
 (485.5417816240359, 29379680),
 (485.7172042219925, 29379556),
 (486.7085446715761, 29379622),
 (495.22968316870066, 29379633),
 (500.76430642165076, 29606863),
 (502.7432680234417, 29379611),
 (502.77672668492136, 29379894),
 (504.42343645862826, 29379646),
 (507.09071571172973, 29379639),
 (507.56473783783895, 29378785),
 (508.2690600590825, 29378892),
 (510.3864558860371, 29379666),
 (510.8696517647558, 29379635),
 (515.2367866640442, 29378784),
 (518.6684804053137, 29563834),
 (518.7167054018241, 29595514),
 (518.8455745797637, 29379437),
 (529.5230320580412, 29378895),
 (529.5292564043369, 29727962),
 (538.4578833254905, 29379916),
 (567.168397083018, 29379668),
 (574.935869571866, 29563833),
 (595.332323596944, 29379708),
 (601.1968976118935, 29379236)]

In [23]:
# for uo in dfg["Wholesaler"].unique():

##Input###
wh=29378784
latest_date = None    #Format:"%Y-%m-%d",  

#################


u = (np.array(dist.loc[wh][0])).astype(int)
L = len(u[u<30]) #change 30 here for 

if latest_date is None:
    #Can change it to today
    latest_date = sorted(dfg[dfg['Wholesaler'] == wh]["Date"].unique())[-1]
    
valid_date = str(np.datetime64(latest_date) - 60) #change 60 here for time period in days


materials_bought=[]
for nearby_users in u[1:L]:
    print(nearby_users[1])
    d = dfg[dfg['Wholesaler'] == nearby_users[1]]

    x = d[(d["Date"]<latest_date) & (d["Date"]>valid_date)]

    for i in range(len(x)):
        materials_bought+=x['Materials'].iloc[i]

29595514
29378785
29378895
29379635
29727962
29379639
29379916
29379646
29379894

In [22]:
str(np.datetime64(latest_date) - 360)

'2020-02-23'

In [21]:
latest_date

'2021-02-17'

In [18]:
materials_bought

[10946,
 16550,
 17028,
 48537,
 48859,
 53566,
 59847,
 70225,
 70601,
 78356,
 82315,
 59873,
 59874,
 80176,
 10946,
 11766,
 17028,
 19898,
 20614,
 29777,
 48537,
 48859,
 53566,
 61629,
 66989,
 70601,
 10946,
 11766,
 29777,
 33335,
 53566,
 66989,
 20614,
 61629,
 3337,
 3338,
 10946,
 10947,
 11766,
 19898,
 20614,
 30822,
 33335,
 61629,
 66989,
 3337,
 3338,
 10946,
 10947,
 11766,
 19898,
 20614,
 33335,
 61629,
 66989,
 11766,
 19898,
 20614,
 33335,
 61629,
 63480,
 66989,
 69490,
 78356,
 11766,
 19898,
 20614,
 61629,
 66989,
 17028,
 19898,
 20614,
 33335,
 48537,
 53566,
 61629,
 64665,
 66989,
 70601,
 70605,
 3337,
 11766,
 48859,
 59873,
 80176]

In [19]:
#Materials vs number of times materials bought by different/same nearby users within last 60 days
from collections import Counter

if len(materials_bought) > 0:
    a = dict(Counter(materials_bought))
    tp = [(a[i], i) for i in a]
    tp = sorted(tp, reverse=True)
    out = (tp)
else: 
    out = ("Can't find wholesalers nearby")

print(out)

[(7, 66989), (7, 61629), (7, 20614), (7, 11766), (6, 19898), (5, 33335), (5, 10946), (4, 53566), (3, 70601), (3, 48859), (3, 48537), (3, 17028), (3, 3337), (2, 80176), (2, 78356), (2, 59873), (2, 29777), (2, 10947), (2, 3338), (1, 82315), (1, 70605), (1, 70225), (1, 69490), (1, 64665), (1, 63480), (1, 59874), (1, 59847), (1, 30822), (1, 16550)]

In [ ]:
FEEDBACK

In [7]:
p=[]
for i in dfg["Materials"]:
    p+=i

In [8]:
#Materials vs number of times materials bought by different/same nearby users within last 60 days
from collections import Counter

if len(p) > 0:
    a = dict(Counter(p))
    tp = [(a[i], i) for i in a]
    tp = sorted(tp, reverse=True)
    out = (tp)
else: 
    out = ("Can't find wholesalers nearby")

print(out)

[(3099, 11574), (3089, 10946), (2654, 3372), (2403, 9974), (2318, 19898), (2212, 3410), (2133, 10965), (2069, 59848), (1951, 11766), (1931, 20614), (1930, 10947), (1904, 6013), (1811, 66989), (1809, 71317), (1706, 61629), (1242, 48537), (1197, 59847), (1192, 59874), (1113, 33335), (1102, 3337), (1064, 5983), (1048, 63627), (977, 71316), (919, 70601), (906, 66738), (901, 10957), (855, 54632), (846, 18690), (796, 59873), (775, 17028), (713, 3530), (681, 53566), (667, 10611), (659, 57005), (642, 65660), (626, 63481), (609, 77313), (606, 63480), (594, 54232), (560, 60387), (551, 66839), (526, 76623), (498, 63311), (494, 30822), (478, 77589), (462, 64665), (458, 37961), (456, 3338), (355, 62707), (341, 60036), (331, 16550), (324, 29777), (311, 48859), (288, 15985), (278, 43113), (276, 77721), (276, 15793), (272, 54639), (267, 62706), (256, 69265), (246, 63445), (223, 16519), (218, 74582), (209, 63482), (198, 72328), (182, 3411), (180, 78356), (177, 59286), (169, 80176), (155, 74583), (155, 3450), (153, 66780), (144, 72548), (140, 64601), (120, 70572), (116, 39616), (112, 67049), (110, 70579), (106, 63908), (106, 18827), (98, 80417), (98, 67561), (89, 79923), (86, 10958), (71, 74342), (69, 77995), (65, 47934), (57, 70605), (54, 81408), (51, 64590), (49, 81410), (46, 64272), (44, 75534), (43, 58245), (42, 60505), (41, 78355), (41, 63466), (40, 74529), (39, 15800), (37, 21416), (34, 76828), (32, 3507), (31, 61685), (29, 72396), (29, 70225), (29, 62474), (29, 59942), (27, 40093), (27, 9937), (26, 61687), (25, 63285), (23, 9938), (22, 78313), (20, 61684), (19, 76952), (19, 72414), (18, 75909), (17, 59940), (15, 82315), (14, 67562), (14, 65642), (14, 62770), (13, 77311), (13, 9976), (12, 79894), (12, 58941), (12, 6108), (11, 68280), (10, 45416), (9, 61943), (9, 55357), (8, 72434), (8, 45918), (6, 76611), (6, 67151), (6, 63478), (6, 59941), (6, 20527), (5, 53425), (5, 46093), (4, 7519873), (4, 77978), (4, 77034), (4, 72413), (4, 68431), (4, 59939), (4, 53236), (4, 50453), (4, 34906), (4, 15710), (3, 73181), (3, 69490), (3, 66719), (3, 63479), (3, 62033), (3, 48538), (2, 80125), (2, 78123), (2, 67483), (2, 65643), (2, 59895), (2, 58277), (2, 10687), (1, 81411), (1, 81409), (1, 77393), (1, 76626), (1, 72326), (1, 71275), (1, 69407), (1, 65716), (1, 62034), (1, 58328), (1, 18692), (1, 15757), (1, 15740), (1, 15709), (1, 3643), (1, 3371)]

In [10]:
out[:20]

[(3099, 11574),
 (3089, 10946),
 (2654, 3372),
 (2403, 9974),
 (2318, 19898),
 (2212, 3410),
 (2133, 10965),
 (2069, 59848),
 (1951, 11766),
 (1931, 20614),
 (1930, 10947),
 (1904, 6013),
 (1811, 66989),
 (1809, 71317),
 (1706, 61629),
 (1242, 48537),
 (1197, 59847),
 (1192, 59874),
 (1113, 33335),
 (1102, 3337)]

In [13]:
print([i[1] for i in out[:10]])

[11574, 10946, 3372, 9974, 19898, 3410, 10965, 59848, 11766, 20614]